## 01 변수

In [2]:
print(mean(x<-c(1,2,3)))
print(x)

[1] 2
[1] 1 2 3

## 03 스칼라

In [3]:
a<-3
b<-4.5
c<-a+b
print(c)

[1] 7.5

### NULL

In [5]:
x<-NULL
print(is.null(x))
print(is.null(1))

[1] TRUE
[1] FALSE

### 문자열

In [6]:
a<-"hello"
print(a)
b<-'hello'
print(b)

[1] "hello"
[1] "hello"

### 진리값

In [9]:
print(TRUE & TRUE)
print(TRUE & FALSE)
print(TRUE | TRUE)
print(TRUE | FALSE)
print(!TRUE)
print(c(TRUE,TRUE) && c(TRUE,FALSE))

[1] TRUE
[1] FALSE
[1] TRUE
[1] TRUE
[1] FALSE
[1] TRUE

### 팩터

In [11]:
sex <- factor("m", c("m", "f"))
print(sex)

[1] m
Levels: m f

In [14]:
print(levels(sex)[1])
print(levels(sex))
print(nlevels(sex)[1])
print(levels(sex)[2])

[1] "m"
[1] "m" "f"
[1] 2
[1] "f"

In [15]:
print(sex)
levels(sex)<-c("male","female")
print(sex)

[1] m
Levels: m f
[1] male
Levels: male female

In [17]:
print(factor(c("m","m","f"),c("m","f")))
print(factor(c("m","m","f")))

[1] m m f
Levels: m f
[1] m m f
Levels: f m

In [19]:
print(ordered("a",c("a","b","c")))

[1] a
Levels: a < b < c

## 04 벡터

In [24]:
print(x<-c(1,2,3,4,5))
print(y<-c("1",2,"3"))
print(c(1,2,3))
print(c(1,2,3,c(1,2,3)))

[1] 1 2 3 4 5
[1] "1" "2" "3"
[1] 1 2 3
[1] 1 2 3 1 2 3

In [31]:
x<-c(1,3,4)
names(x) <- c("Kim","Seo","Park")
print(x)
print(x["Seo"])
print(x[c("Seo","Park")])
print(names(x)[2])

 Kim  Seo Park
   1    3    4
Seo
  3
 Seo Park
   3    4
[1] "Seo"

In [27]:
x<-c("a","b","c")
print(x[1])
print(x[3])
print(x[c(1,2)])
print(x[c(1,3)])
print(x[1:2])
print(x[1:3])

[1] "a"
[1] "c"
[1] "a" "b"
[1] "a" "c"
[1] "a" "b"
[1] "a" "b" "c"

In [32]:
x<-c("a","b","c")
print(length(x))
print(nrow(x))
print(NROW(x))

[1] 3
NULL
[1] 3

In [37]:
print("a" %in% c("a","b","c"))
x<-c(1,2,3,4,5)
print(x+1)
print(c(1,2,3) == c(1,2,100))

[1] TRUE
[1] 2 3 4 5 6
[1]  TRUE  TRUE FALSE

In [38]:
print(union(c("a","b","c"),c("a","d")))
print(intersect(c("a","b","c"),c("a","d")))
print(setdiff(c("a","b","c"),c("a","d")))

[1] "a" "b" "c" "d"
[1] "a"
[1] "b" "c"

In [41]:
print(rep(1:2, times=5))
print(rep(1:2, each=5))
print(rep(1:2, each=5, times=2))

 [1] 1 2 1 2 1 2 1 2 1 2
 [1] 1 1 1 1 1 2 2 2 2 2
 [1] 1 1 1 1 1 2 2 2 2 2 1 1 1 1 1 2 2 2 2 2

In [44]:
x<-matrix(c(1,2,3,4,5,6,7,8,9), nrow=3)
print(x)
print(x %*% x)

     [,1] [,2] [,3]
[1,]    1    4    7
[2,]    2    5    8
[3,]    3    6    9
     [,1] [,2] [,3]
[1,]   30   66  102
[2,]   36   81  126
[3,]   42   96  150

In [46]:
x<-matrix(c(1,2,3,4,5,6), ncol=3)
print(nrow(x))
print(ncol(x))

[1] 2
[1] 3

## 08 데이터프레임

In [49]:
d <- data.frame(x=c(1,2,3,4,5), y=c(2,4,6,8,10), z=c('M','F','M','F','M'))
print(str(d))
print(d)

'data.frame':	5 obs. of  3 variables:
 $ x: num  1 2 3 4 5
 $ y: num  2 4 6 8 10
 $ z: chr  "M" "F" "M" "F" ...
NULL
  x  y z
1 1  2 M
2 2  4 F
3 3  6 M
4 4  8 F
5 5 10 M

## 09 타입판별

In [52]:
print(class(c(1,2)))
print(class(matrix(c(1,2))))
print(class(data.frame(x=c(1,2), y=c(3,4))))

[1] "numeric"
[1] "matrix" "array"
[1] "data.frame"

In [53]:
print(str(c(1,2)))
print(str(matrix(c(1,2))))
print(str(list(c(1,2))))
print(str(data.frame(x=c(1,2))))

 num [1:2] 1 2
NULL
 num [1:2, 1] 1 2
NULL
List of 1
 $ : num [1:2] 1 2
NULL
'data.frame':	2 obs. of  1 variable:
 $ x: num  1 2
NULL

In [54]:
print(is.factor(factor(c("m","f"))))
print(is.numeric(1:5))
print(is.character(c("a","b")))
print(is.data.frame(data.frame(x=1:5)))

[1] TRUE
[1] TRUE
[1] TRUE
[1] TRUE

## 10 타입변환

In [55]:
x <- c("a","b","c")
print(as.factor(x))
print(as.character(as.factor(x)))

[1] a b c
Levels: a b c
[1] "a" "b" "c"

In [58]:
x<-matrix(1:9, ncol=3)
as.data.frame(x)

  V1 V2 V3
1 1  4  7
2 2  5  8
3 3  6  9

In [60]:
x <- data.frame(matrix(c(1,2,3,4), ncol=2))
x

  X1 X2
1 1  3
2 2  4

In [61]:
data.frame(list(x=c(1,2), y=c(3,4)))

  x y
1 1 3
2 2 4

In [63]:
print(as.factor(c("m","f")))

[1] m f
Levels: f m

In [64]:
print(factor(c("m","f"), levels=c("m","f")))

[1] m f
Levels: m f