In [36]:
library(class)
library(gmodels)

In [28]:
df1<-read.csv("rexp/diabetes.csv")

In [30]:
head(df1)

  X.0.294118 X0.487437 X0.180328  X.0.292929 X0        X0.00149028 X.0.53117
1 -0.8823530 -0.145729  0.0819672 -0.414141   0.000000 -0.2071530  -0.766866
2 -0.0588235  0.839196  0.0491803  0.000000   0.000000 -0.3055140  -0.492741
3 -0.8823530 -0.105528  0.0819672 -0.535354  -0.777778 -0.1624440  -0.923997
4  0.0000000  0.376884 -0.3442620 -0.292929  -0.602837  0.2846500   0.887276
5 -0.4117650  0.165829  0.2131150  0.000000   0.000000 -0.2369600  -0.894962
6 -0.6470590 -0.216080 -0.1803280 -0.353535  -0.791962 -0.0760059  -0.854825
  X.0.0333333 X0.1
1 -0.666667   1
2 -0.633333   0
3  0.000000   1
4 -0.600000   0
5 -0.700000   1
6 -0.833333   0

In [31]:
df <- df1[-9]
str(df)

'data.frame':	758 obs. of  8 variables:
 $ X.0.294118 : num  -0.8824 -0.0588 -0.8824 0 -0.4118 ...
 $ X0.487437  : num  -0.146 0.839 -0.106 0.377 0.166 ...
 $ X0.180328  : num  0.082 0.0492 0.082 -0.3443 0.2131 ...
 $ X.0.292929 : num  -0.414 0 -0.535 -0.293 0 ...
 $ X0         : num  0 0 -0.778 -0.603 0 ...
 $ X0.00149028: num  -0.207 -0.306 -0.162 0.285 -0.237 ...
 $ X.0.53117  : num  -0.767 -0.493 -0.924 0.887 -0.895 ...
 $ X.0.0333333: num  -0.667 -0.633 0 -0.6 -0.7 ...

In [32]:
df_train <- df[1:530,]
df_test <- df[531:758,]

In [34]:
df_train_label <- df1[1:530, 9]
df_test_label <- df1[531:758, 9]

In [40]:
df_test_pred <- knn(train=df_train, test=df_test, cl=df_train_label, k=3)

In [41]:
CrossTable(x=df_test_label, y=df_test_pred)

   Cell Contents
|-------------------------|
|                       N |
| Chi-square contribution |
|           N / Row Total |
|           N / Col Total |
|         N / Table Total |
|-------------------------|


Total Observations in Table:  228


              | df_test_pred
df_test_label |         0 |         1 | Row Total |
--------------|-----------|-----------|-----------|
            0 |        46 |        33 |        79 |
              |    22.363 |     9.306 |           |
              |     0.582 |     0.418 |     0.346 |
              |     0.687 |     0.205 |           |
              |     0.202 |     0.145 |           |
--------------|-----------|-----------|-----------|
            1 |        21 |       128 |       149 |
              |    11.857 |     4.934 |           |
              |     0.141 |     0.859 |     0.654 |
              |     0.313 |     0.795 |           |
              |     0.092 |     0.561 |           |
--------------|-----------|-----------|-----------|
 Column Total |        67 |       161 |       228 |
              |     0.294 |     0.706 |           |
--------------|-----------|-----------|-----------|

In [49]:
for (kk in 1:51) {
    CrossTable(x=df_test_label, y= knn(train=df_train, test=df_test, cl=df_train_label, k=kk))
}

   Cell Contents
|-------------------------|
|                       N |
| Chi-square contribution |
|           N / Row Total |
|           N / Col Total |
|         N / Table Total |
|-------------------------|


Total Observations in Table:  228


              | knn(train = df_train, test = df_test, cl = df_train_label, k = kk)
df_test_label |         0 |         1 | Row Total |
--------------|-----------|-----------|-----------|
            0 |        38 |        41 |        79 |
              |    10.012 |     4.079 |           |
              |     0.481 |     0.519 |     0.346 |
              |     0.576 |     0.253 |           |
              |     0.167 |     0.180 |           |
--------------|-----------|-----------|-----------|
            1 |        28 |       121 |       149 |
              |     5.309 |     2.163 |           |
              |     0.188 |     0.812 |     0.654 |
              |     0.424 |     0.747 |           |
              |     0.123 |     0.531 |           |
--------------|-----------|-----------|-----------|
 Column Total |        66 |       162 |       228 |
              |     0.289 |     0.711 |           |
--------------|-----------|-----------|-----------|




   Cell Contents
|-------------------------|
|                       N |
| Chi-square contribution |
|           N / Row Total |
|           N / Col Total |
|         N / Table Total |
|-------------------------|


Total Observations in Table:  228


              | knn(train = df_train, test = df_test, cl = df_train_label, k = kk)
df_test_label |         0 |         1 | Row Total |
--------------|-----------|-----------|-----------|
            0 |        45 |        34 |        79 |
              |    16.118 |     7.439 |           |
              |     0.570 |     0.430 |     0.346 |
              |     0.625 |     0.218 |           |
              |     0.197 |     0.149 |           |
--------------|-----------|-----------|-----------|
            1 |        27 |       122 |       149 |
              |     8.546 |     3.944 |           |
              |     0.181 |     0.819 |     0.654 |
              |     0.375 |     0.782 |           |
              |     0.118 |     0.535 |           |
--------------|-----------|-----------|-----------|
 Column Total |        72 |       156 |       228 |
              |     0.316 |     0.684 |           |
--------------|-----------|-----------|-----------|




   Cell Contents
|-------------------------|
|                       N |
| Chi-square contribution |
|           N / Row Total |
|           N / Col Total |
|         N / Table Total |
|-------------------------|


Total Observations in Table:  228


              | knn(train = df_train, test = df_test, cl = df_train_label, k = kk)
df_test_label |         0 |         1 | Row Total |
--------------|-----------|-----------|-----------|
            0 |        46 |        33 |        79 |
              |    22.363 |     9.306 |           |
              |     0.582 |     0.418 |     0.346 |
              |     0.687 |     0.205 |           |
              |     0.202 |     0.145 |           |
--------------|-----------|-----------|-----------|
            1 |        21 |       128 |       149 |
              |    11.857 |     4.934 |           |
              |     0.141 |     0.859 |     0.654 |
              |     0.313 |     0.795 |           |
              |     0.092 |     0.561 |           |
--------------|-----------|-----------|-----------|
 Column Total |        67 |       161 |       228 |
              |     0.294 |     0.706 |           |
--------------|-----------|-----------|-----------|




   Cell Contents
|-------------------------|
|                       N |
| Chi-square contribution |
|           N / Row Total |
|           N / Col Total |
|         N / Table Total |
|-------------------------|


Total Observations in Table:  228


              | knn(train = df_train, test = df_test, cl = df_train_label, k = kk)
df_test_label |         0 |         1 | Row Total |
--------------|-----------|-----------|-----------|
            0 |        45 |        34 |        79 |
              |    21.418 |     8.726 |           |
              |     0.570 |     0.430 |     0.346 |
              |     0.682 |     0.210 |           |
              |     0.197 |     0.149 |           |
--------------|-----------|-----------|-----------|
            1 |        21 |       128 |       149 |
              |    11.356 |     4.627 |           |
              |     0.141 |     0.859 |     0.654 |
              |     0.318 |     0.790 |           |
              |     0.092 |     0.561 |           |
--------------|-----------|-----------|-----------|
 Column Total |        66 |       162 |       228 |
              |     0.289 |     0.711 |           |
--------------|-----------|-----------|-----------|




   Cell Contents
|-------------------------|
|                       N |
| Chi-square contribution |
|           N / Row Total |
|           N / Col Total |
|         N / Table Total |
|-------------------------|


Total Observations in Table:  228


              | knn(train = df_train, test = df_test, cl = df_train_label, k = kk)
df_test_label |         0 |         1 | Row Total |
--------------|-----------|-----------|-----------|
            0 |        49 |        30 |        79 |
              |    29.860 |    12.165 |           |
              |     0.620 |     0.380 |     0.346 |
              |     0.742 |     0.185 |           |
              |     0.215 |     0.132 |           |
--------------|-----------|-----------|-----------|
            1 |        17 |       132 |       149 |
              |    15.832 |     6.450 |           |
              |     0.114 |     0.886 |     0.654 |
              |     0.258 |     0.815 |           |
              |     0.075 |     0.579 |           |
--------------|-----------|-----------|-----------|
 Column Total |        66 |       162 |       228 |
              |     0.289 |     0.711 |           |
--------------|-----------|-----------|-----------|




   Cell Contents
|-------------------------|
|                       N |
| Chi-square contribution |
|           N / Row Total |
|           N / Col Total |
|         N / Table Total |
|-------------------------|


Total Observations in Table:  228


              | knn(train = df_train, test = df_test, cl = df_train_label, k = kk)
df_test_label |         0 |         1 | Row Total |
--------------|-----------|-----------|-----------|
            0 |        50 |        29 |        79 |
              |    29.667 |    12.609 |           |
              |     0.633 |     0.367 |     0.346 |
              |     0.735 |     0.181 |           |
              |     0.219 |     0.127 |           |
--------------|-----------|-----------|-----------|
            1 |        18 |       131 |       149 |
              |    15.730 |     6.685 |           |
              |     0.121 |     0.879 |     0.654 |
              |     0.265 |     0.819 |           |
              |     0.079 |     0.575 |           |
--------------|-----------|-----------|-----------|
 Column Total |        68 |       160 |       228 |
              |     0.298 |     0.702 |           |
--------------|-----------|-----------|-----------|




   Cell Contents
|-------------------------|
|                       N |
| Chi-square contribution |
|           N / Row Total |
|           N / Col Total |
|         N / Table Total |
|-------------------------|


Total Observations in Table:  228


              | knn(train = df_train, test = df_test, cl = df_train_label, k = kk)
df_test_label |         0 |         1 | Row Total |
--------------|-----------|-----------|-----------|
            0 |        49 |        30 |        79 |
              |    27.465 |    11.673 |           |
              |     0.620 |     0.380 |     0.346 |
              |     0.721 |     0.188 |           |
              |     0.215 |     0.132 |           |
--------------|-----------|-----------|-----------|
            1 |        19 |       130 |       149 |
              |    14.562 |     6.189 |           |
              |     0.128 |     0.872 |     0.654 |
              |     0.279 |     0.812 |           |
              |     0.083 |     0.570 |           |
--------------|-----------|-----------|-----------|
 Column Total |        68 |       160 |       228 |
              |     0.298 |     0.702 |           |
--------------|-----------|-----------|-----------|




   Cell Contents
|-------------------------|
|                       N |
| Chi-square contribution |
|           N / Row Total |
|           N / Col Total |
|         N / Table Total |
|-------------------------|


Total Observations in Table:  228


              | knn(train = df_train, test = df_test, cl = df_train_label, k = kk)
df_test_label |         0 |         1 | Row Total |
--------------|-----------|-----------|-----------|
            0 |        48 |        31 |        79 |
              |    21.302 |     9.832 |           |
              |     0.608 |     0.392 |     0.346 |
              |     0.667 |     0.199 |           |
              |     0.211 |     0.136 |           |
--------------|-----------|-----------|-----------|
            1 |        24 |       125 |       149 |
              |    11.294 |     5.213 |           |
              |     0.161 |     0.839 |     0.654 |
              |     0.333 |     0.801 |           |
              |     0.105 |     0.548 |           |
--------------|-----------|-----------|-----------|
 Column Total |        72 |       156 |       228 |
              |     0.316 |     0.684 |           |
--------------|-----------|-----------|-----------|




   Cell Contents
|-------------------------|
|                       N |
| Chi-square contribution |
|           N / Row Total |
|           N / Col Total |
|         N / Table Total |
|-------------------------|


Total Observations in Table:  228


              | knn(train = df_train, test = df_test, cl = df_train_label, k = kk)
df_test_label |         0 |         1 | Row Total |
--------------|-----------|-----------|-----------|
            0 |        46 |        33 |        79 |
              |    29.250 |    10.684 |           |
              |     0.582 |     0.418 |     0.346 |
              |     0.754 |     0.198 |           |
              |     0.202 |     0.145 |           |
--------------|-----------|-----------|-----------|
            1 |        15 |       134 |       149 |
              |    15.508 |     5.665 |           |
              |     0.101 |     0.899 |     0.654 |
              |     0.246 |     0.802 |           |
              |     0.066 |     0.588 |           |
--------------|-----------|-----------|-----------|
 Column Total |        61 |       167 |       228 |
              |     0.268 |     0.732 |           |
--------------|-----------|-----------|-----------|




   Cell Contents
|-------------------------|
|                       N |
| Chi-square contribution |
|           N / Row Total |
|           N / Col Total |
|         N / Table Total |
|-------------------------|


Total Observations in Table:  228


              | knn(train = df_train, test = df_test, cl = df_train_label, k = kk)
df_test_label |         0 |         1 | Row Total |
--------------|-----------|-----------|-----------|
            0 |        45 |        34 |        79 |
              |    28.195 |    10.069 |           |
              |     0.570 |     0.430 |     0.346 |
              |     0.750 |     0.202 |           |
              |     0.197 |     0.149 |           |
--------------|-----------|-----------|-----------|
            1 |        15 |       134 |       149 |
              |    14.949 |     5.339 |           |
              |     0.101 |     0.899 |     0.654 |
              |     0.250 |     0.798 |           |
              |     0.066 |     0.588 |           |
--------------|-----------|-----------|-----------|
 Column Total |        60 |       168 |       228 |
              |     0.263 |     0.737 |           |
--------------|-----------|-----------|-----------|




   Cell Contents
|-------------------------|
|                       N |
| Chi-square contribution |
|           N / Row Total |
|           N / Col Total |
|         N / Table Total |
|-------------------------|


Total Observations in Table:  228


              | knn(train = df_train, test = df_test, cl = df_train_label, k = kk)
df_test_label |         0 |         1 | Row Total |
--------------|-----------|-----------|-----------|
            0 |        49 |        30 |        79 |
              |    35.248 |    13.165 |           |
              |     0.620 |     0.380 |     0.346 |
              |     0.790 |     0.181 |           |
              |     0.215 |     0.132 |           |
--------------|-----------|-----------|-----------|
            1 |        13 |       136 |       149 |
              |    18.689 |     6.980 |           |
              |     0.087 |     0.913 |     0.654 |
              |     0.210 |     0.819 |           |
              |     0.057 |     0.596 |           |
--------------|-----------|-----------|-----------|
 Column Total |        62 |       166 |       228 |
              |     0.272 |     0.728 |           |
--------------|-----------|-----------|-----------|




   Cell Contents
|-------------------------|
|                       N |
| Chi-square contribution |
|           N / Row Total |
|           N / Col Total |
|         N / Table Total |
|-------------------------|


Total Observations in Table:  228


              | knn(train = df_train, test = df_test, cl = df_train_label, k = kk)
df_test_label |         0 |         1 | Row Total |
--------------|-----------|-----------|-----------|
            0 |        48 |        31 |        79 |
              |    32.733 |    12.225 |           |
              |     0.608 |     0.392 |     0.346 |
              |     0.774 |     0.187 |           |
              |     0.211 |     0.136 |           |
--------------|-----------|-----------|-----------|
            1 |        14 |       135 |       149 |
              |    17.355 |     6.482 |           |
              |     0.094 |     0.906 |     0.654 |
              |     0.226 |     0.813 |           |
              |     0.061 |     0.592 |           |
--------------|-----------|-----------|-----------|
 Column Total |        62 |       166 |       228 |
              |     0.272 |     0.728 |           |
--------------|-----------|-----------|-----------|




   Cell Contents
|-------------------------|
|                       N |
| Chi-square contribution |
|           N / Row Total |
|           N / Col Total |
|         N / Table Total |
|-------------------------|


Total Observations in Table:  228


              | knn(train = df_train, test = df_test, cl = df_train_label, k = kk)
df_test_label |         0 |         1 | Row Total |
--------------|-----------|-----------|-----------|
            0 |        49 |        30 |        79 |
              |    33.821 |    12.913 |           |
              |     0.620 |     0.380 |     0.346 |
              |     0.778 |     0.182 |           |
              |     0.215 |     0.132 |           |
--------------|-----------|-----------|-----------|
            1 |        14 |       135 |       149 |
              |    17.932 |     6.847 |           |
              |     0.094 |     0.906 |     0.654 |
              |     0.222 |     0.818 |           |
              |     0.061 |     0.592 |           |
--------------|-----------|-----------|-----------|
 Column Total |        63 |       165 |       228 |
              |     0.276 |     0.724 |           |
--------------|-----------|-----------|-----------|




   Cell Contents
|-------------------------|
|                       N |
| Chi-square contribution |
|           N / Row Total |
|           N / Col Total |
|         N / Table Total |
|-------------------------|


Total Observations in Table:  228


              | knn(train = df_train, test = df_test, cl = df_train_label, k = kk)
df_test_label |         0 |         1 | Row Total |
--------------|-----------|-----------|-----------|
            0 |        51 |        28 |        79 |
              |    36.009 |    14.360 |           |
              |     0.646 |     0.354 |     0.346 |
              |     0.785 |     0.172 |           |
              |     0.224 |     0.123 |           |
--------------|-----------|-----------|-----------|
            1 |        14 |       135 |       149 |
              |    19.092 |     7.613 |           |
              |     0.094 |     0.906 |     0.654 |
              |     0.215 |     0.828 |           |
              |     0.061 |     0.592 |           |
--------------|-----------|-----------|-----------|
 Column Total |        65 |       163 |       228 |
              |     0.285 |     0.715 |           |
--------------|-----------|-----------|-----------|




   Cell Contents
|-------------------------|
|                       N |
| Chi-square contribution |
|           N / Row Total |
|           N / Col Total |
|         N / Table Total |
|-------------------------|


Total Observations in Table:  228


              | knn(train = df_train, test = df_test, cl = df_train_label, k = kk)
df_test_label |         0 |         1 | Row Total |
--------------|-----------|-----------|-----------|
            0 |        51 |        28 |        79 |
              |    37.467 |    14.621 |           |
              |     0.646 |     0.354 |     0.346 |
              |     0.797 |     0.171 |           |
              |     0.224 |     0.123 |           |
--------------|-----------|-----------|-----------|
            1 |        13 |       136 |       149 |
              |    19.865 |     7.752 |           |
              |     0.087 |     0.913 |     0.654 |
              |     0.203 |     0.829 |           |
              |     0.057 |     0.596 |           |
--------------|-----------|-----------|-----------|
 Column Total |        64 |       164 |       228 |
              |     0.281 |     0.719 |           |
--------------|-----------|-----------|-----------|




   Cell Contents
|-------------------------|
|                       N |
| Chi-square contribution |
|           N / Row Total |
|           N / Col Total |
|         N / Table Total |
|-------------------------|


Total Observations in Table:  228


              | knn(train = df_train, test = df_test, cl = df_train_label, k = kk)
df_test_label |         0 |         1 | Row Total |
--------------|-----------|-----------|-----------|
            0 |        50 |        29 |        79 |
              |    36.356 |    13.881 |           |
              |     0.633 |     0.367 |     0.346 |
              |     0.794 |     0.176 |           |
              |     0.219 |     0.127 |           |
--------------|-----------|-----------|-----------|
            1 |        13 |       136 |       149 |
              |    19.276 |     7.360 |           |
              |     0.087 |     0.913 |     0.654 |
              |     0.206 |     0.824 |           |
              |     0.057 |     0.596 |           |
--------------|-----------|-----------|-----------|
 Column Total |        63 |       165 |       228 |
              |     0.276 |     0.724 |           |
--------------|-----------|-----------|-----------|




   Cell Contents
|-------------------------|
|                       N |
| Chi-square contribution |
|           N / Row Total |
|           N / Col Total |
|         N / Table Total |
|-------------------------|


Total Observations in Table:  228


              | knn(train = df_train, test = df_test, cl = df_train_label, k = kk)
df_test_label |         0 |         1 | Row Total |
--------------|-----------|-----------|-----------|