#### 리스트 :  순서집합 저장 > 데이터간에 타입이 달라도 저장 가능

In [19]:
f = c("apple","grape","orange")
n = c(2,3,5)
s = c(TRUE, TRUE, FALSE)

In [2]:
f[1]

[1] "apple"

In [3]:
mylist = list(myf = f[1], myn=n[1], mys=s[1])

In [4]:
mylist  # $ 뭐냥...?

$myf
[1] "apple"

$myn
[1] 2

$mys
[1] "TRUE"

In [5]:
typeof(mylist)

[1] "list"

In [7]:
typeof(mylist$myf) # typeof(mylist[1])

[1] "character"

In [10]:
mylist[[1]]

[1] "apple"

### DataFrame!

In [21]:
df <- data.frame(f,n,s)
df

  f      n s
1 apple  2  TRUE
2 grape  3  TRUE
3 orange 5 FALSE

In [22]:
typeof(df) #list??

[1] "list"

In [23]:
str(df) 
# 열벡터 여러개를 합치면 데이터 프레임
# 3obs. : 관측치 3개 (행) / 관측값은 값9개

'data.frame':	3 obs. of  3 variables:
 $ f: chr  "apple" "grape" "orange"
 $ n: num  2 3 5
 $ s: logi  TRUE TRUE FALSE

In [24]:
matrix(c(1,2,3,4,5,6),nrow=2) # 행

     [,1] [,2] [,3]
[1,] 1    3    5
[2,] 2    4    6

In [28]:
m<-matrix(c(1,2,3,4,5,6), ncol=2) # 열
m[1,2] # matrix 1행 2열의 값

[1] 4